.card {
  min-height: 450px;
}
.card-img {
  max-height: 150px;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: scale(1.1);
}
.card-body {
  max-height: 10rem;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5; // amount of line you want
  -webkit-box-orient: vertical;
}
.h5 {
  text-align: center;
  margin: 0.5rem;
  padding: 8px;
  font-weight: bold;
}
