@import "~bootstrap/scss/bootstrap";
$font-stack: Helvetica, sans-serif;
$primary-color: rgb(228, 29, 29);
$background-color: lightblue;
$Card: (
  "bg": black,
  "text": "danger",
);
Card.Text {
  font: 100% $font-stack;
  color: $primary-color;
}
body {
  background-color: $background-color;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid rgb(100, 206, 255);
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #d0ebfa;
  border-color: #3a89f0;
}

.form-control.invalid input {
  border-color: red;
  background: #a9c7ff;
}

.form-control.invalid label {
  color: red;
}
